# Macintosh files
.DS_Store

# MS Office
*.docx
*.doc
*.xls
*.xlsx

# Execution files
*.out
*.exe
*.class
*.javac

# Python
*.pyc

# DB files
*.sqlite

# IDE files
.idea
.ipynb_checkpoints
cmake-build-debug/

# Archives
*.zip
*.rar
*.tar*

# User's files
Практика

